.btn {
  position: relative;
  background-color: var(--color-gray-100);
  border-radius: 50%;
  box-shadow: 0px 7px 0px 0px var(--color-gray-200) inset;
  display: block;
  z-index: initial;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 70px;
}

.btn::before,
.btn::after {
  content: "";
  position: absolute;
  border-radius: 50%;
  bottom: 50%;
  right: 50%;
  transform: translate(50%, 50%);
  display: block;
  z-index: -1;
}

.huge {
  width: 200px;
  height: 200px;
  cursor: auto;
}

.huge::before,
.huge::after {
  width: 250px;
  height: 250px;
}

.normal {
  width: 150px;
  height: 150px;
}

.normal::after {
  width: 200px;
  height: 200px;
}

.rock {
  background-image: url(../../assets/icon-rock.svg);
}

.rock::after {
  background-image: linear-gradient(var(--color-red-200), var(--color-red-100));
  box-shadow: 0px 7px 0px 0px var(--color-red-300);
}

.scissors {
  background-image: url(../../assets/icon-scissors.svg);
}

.scissors::after {
  background-image: linear-gradient(
    var(--color-yellow-200),
    var(--color-yellow-100)
  );
  box-shadow: 0px 7px 0px 0px var(--color-yellow-300);
}

.paper {
  background-image: url(../../assets/icon-paper.svg);
}

.paper::after {
  background-image: linear-gradient(
    var(--color-blue-700),
    var(--color-blue-600)
  );
  box-shadow: 0px 7px 0px 0px var(--color-blue-800);
}

.winner::before {
  box-shadow: 0px 0px 0px 70px var(--color-gray-700),
    0px 0px 0px 150px var(--color-gray-800),
    0px 0px 0px 230px var(--color-gray-900);
}

/**************** RESPONSIVE *****************/

@media screen and (max-width: 850px) {
  .normal {
    width: 130px;
    height: 130px;
  }

  .normal::after {
    width: 170px;
    height: 170px;
  }

  .huge {
    width: 150px;
    height: 150px;
  }

  .huge::before,
  .huge::after {
    width: 200px;
    height: 200px;
  }

  .btn {
    background-size: 60px;
  }
}

@media screen and (max-width: 430px) {
  .huge {
    width: 100px;
    height: 100px;
  }

  .huge::before,
  .huge::after {
    width: 130px;
    height: 130px;
  }

  .normal {
    width: 100px;
    height: 100px;
  }

  .normal::after {
    width: 130px;
    height: 130px;
  }

  .btn {
    background-size: 40px;
  }
}
