.picked-card {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.picked-title {
  text-transform: uppercase;
  color: var(--color-gray-100);
  font-size: 24px;
  font-weight: 600;
  letter-spacing: 2px;
  margin-bottom: 100px;
}

/**************** RESPONSIVE *****************/

@media screen and (max-width: 850px) {
  .picked-card {
    width: 50%;
  }

  .picked-title {
    margin-bottom: 50px;
  }
}

@media screen and (max-width: 430px) {
  .picked-title {
    font-size: 18px;
    margin-bottom: 50px;
  }
}
