.root {
  width: 100%;
  max-width: 650px;
  border: 2px solid var(--color-gray-500);
  padding: 30px 20px;
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/**************** RESPONSIVE *****************/

@media screen and (max-width: 850px) {
  .root {
    width: 95%;
  }
}
