.root {
  height: 100%;
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  animation-name: fadeIn;
  animation-duration: 0.1s;
}

.title {
  text-transform: uppercase;
  white-space: nowrap;
  color: var(--color-gray-100);
  font-size: 48px;
  font-weight: 800;
  letter-spacing: 2px;
  margin-bottom: 20px;
}

.button {
  text-transform: uppercase;
  white-space: nowrap;
  width: 80%;
  max-width: 300px;
  color: var(--color-blue-900);
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 1.5px;
  padding: 15px 0px;
  border-radius: 10px;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: scale(0.6);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

/**************** RESPONSIVE *****************/

@media screen and (max-width: 850px) {
  .root {
    order: 3;
    height: auto;
  }

  .button {
    font-size: 16px;
    width: 200px;
  }
}
