.root {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
}

.start-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  align-items: center;
  justify-items: center;
  flex-wrap: wrap;
  position: relative;
  z-index: 1;
  height: 100%;
  width: 100%;
  max-width: 600px;
}

.start-container button:last-child {
  grid-column: 1/-1;
}

.start-container::after {
  content: "";
  position: absolute;
  background-image: url("../../assets/bg-triangle.svg");
  width: 315px;
  height: 280px;
  background-repeat: no-repeat;
  z-index: -3;
}

.picked-container {
  position: relative;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  max-width: 900px;
}

/**************** RESPONSIVE *****************/

@media screen and (max-width: 850px) {
  .picked-container {
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 430px) {
  .start-container::after {
    height: 70%;
  }
  .start-container {
    height: 300px;
  }
}
