.root {
  height: 500px;
  width: 700px;
  border: 1px solid white;
}

.options-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  align-items: center;
  justify-items: center;
  flex-wrap: wrap;
  position: relative;
  z-index: 1;
  height: 100%;
}

.options-container button:last-child {
  grid-column: 1/-1;
}

.options-container::after {
  content: "";
  position: absolute;
  background-image: url("../../assets/bg-triangle.svg");
  width: 315px;
  height: 280px;
  background-repeat: no-repeat;
  z-index: -3;
}
