@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;600;700;800&display=swap");

:root {
  --color-blue-1000: #141539;
  --color-blue-900: #1f3756;
  --color-blue-800: #3249bd;
  --color-blue-700: #4865f4;
  --color-blue-600: #5671f5;
  --color-blue-500: #2a46c0;
  --color-gray-900: #dddddd06;
  --color-gray-800: #eeeeee07;
  --color-gray-700: #ffffff08;
  --color-gray-600: #3b4363;
  --color-gray-500: #606e85;
  --color-gray-200: #cccccc;
  --color-gray-100: #eeeeee;
  --color-yellow-300: #b77a0a;
  --color-yellow-200: #ec9e0e;
  --color-yellow-100: #eca922;
  --color-red-300: #a22139;
  --color-red-200: #dc2e4e;
  --color-red-100: #dd405d;
}

html {
  font-family: "Raleway", sans-serif;
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

button {
  font-family: "Raleway", sans-serif;
  border: none;
}

.root {
  background-image: radial-gradient(
    circle farthest-corner at top,
    var(--color-blue-900),
    var(--color-blue-1000)
  );
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
